 .root{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-padding: 5px;
    -fx-font-family : "Roboto";
    -fx-alignment : center;
}

.root {
    -fx-background-image: url("StartImage.png");
    -fx-background-size: 100% 100%;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.text-field {
    -fx-background-radius: 20;
    -fx-border-radius: 10;
    -fx-border-color: gray;
    -fx-border-width: 5;
}

.label{
 -fx-background-color: black;
     -fx-background-radius: 20;
        -fx-border-radius: 10;
        -fx-border-color: gray;
        -fx-border-width: 5;
}

#numfield{
    -fx-background-radius: 20;
        -fx-border-radius: 10;
        -fx-border-color: blue;
        -fx-border-width: 5;
}